<header>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add">Scan ID</a></li>
            <li><a href="/show">Show Records</a></li>
        </ul>
    </nav>
</header>