<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    <%- include('./components/nav') %>
    <div class="main">
        <a href="/add">Scan ID</a>
        <a href="/show">Show Records</a>
    </div>
</body>
</html>